nav {
    background: var(--gradiente-azul);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

nav > div:first-of-type {
  margin: 0 20px;
}

nav > div > a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 1.25vw;
    border-bottom: 3px solid transparent;

    transition: border-bottom .5s,
    transform .5s;
}

.logoPsicologia {
    justify-self: left;
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1);
}

nav > div > a:hover {
    border-bottom: 3px solid white;
    transform: scale(1.1);
}

/* Tablets (até 1024px) */
@media (max-width: 1024px) {
  nav {
    flex-wrap: wrap;
    padding: 15px 10px;
  }

  nav div a {
    margin: 2vw;
    font-size: 1rem;
  }
}

/* Celulares (até 600px) */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  nav > div {
    text-align: center;
    width: 80%;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  nav div a {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    font-size: 1.1rem;
  }
}
